/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| DESIGNED BY  HOSSAM HILAL ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2020 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

:root {
    --gmail: #DD4B39;
    --twitter: #50ABF1;
    --facebook: #4267B2;
    --youtube: #DD4B39;
    --white: #fff;
    --red: #FF0000;
    --yellow: #F8FF1F;
    --green: #5BFF1F;
    --greenDark: #3A901B;
}


/* fonts*/
@font-face {
    font-family: JFFlat;
    src: url('../fonts/JFFlat-Regular.eot');
    src: url('../fonts/JFFlat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JFFlat-Regular.woff2') format('woff2'),
        url('../fonts/JFFlat-Regular.woff') format('woff'),
        url('../fonts/JFFlat-Regular.ttf') format('truetype'),
        url('../fonts/JFFlat-Regular.svg#JFFlat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: JFFlat;
    src: url('../fonts/JFFlat-Medium.eot');
    src: url('../fonts/JFFlat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JFFlat-Medium.woff2') format('woff2'),
        url('../fonts/JFFlat-Medium.woff') format('woff'),
        url('../fonts/JFFlat-Medium.ttf') format('truetype'),
        url('../fonts/JFFlat-Medium.svg#JFFlat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: URW DIN Arabic;
    src: url('../fonts/URWDINArabic-Black.eot');
    src: url('../fonts/URWDINArabic-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/URWDINArabic-Black.woff2') format('woff2'),
        url('../fonts/URWDINArabic-Black.woff') format('woff'),
        url('../fonts/URWDINArabic-Black.ttf') format('truetype'),
        url('../fonts/URWDINArabic-Black.svg#URWDINArabic-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



/**** Init ****/
body {
    font-family: JFFlat, sans-serif;
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
}

.stopScroll {
    overflow: hidden;
}

.secPadding {
    padding: 50px 0;
}

.greyBg {
    background: #FCFCFC;
}

p {
    color: #8A8A8A;
    margin: 0;
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    border: 0;
}

button:focus,
button:active,
input:active,
input:focus,
select:active,
select:focus,
textarea:focus,
textarea:active {
    box-shadow: none;
    outline: 0;
}

/*==========================||---------------------------||========================*/
/*==========================||         MAIN BUTTONS      ||========================*/
/*==========================||---------------------------||========================*/

.btnBlue {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #115FAF;
    color: #fff;
    cursor: pointer;
    border: 0;
    transition: all .3s ease-in-out;
}

.btnBlue:hover {
    color: #fff;
    background: #FFAD1F;
}

.btnGrey {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFEFEF;
    color: #6B6B6B;
    border: 0;
    color: #202020;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btnGrey:hover {
    background: #FFAD1F;
    color: #fff;
}

.btnOrange {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFAD1F;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btnOrange:hover {
    color: #fff;
    background: #E8479F;
}

.btnArrow i {
    margin-right: 10px;
    font-size: 20px;
    transform: translateY(2px);
    transition: all .4s ease-in-out;
}

.btnArrow:hover i {
    transform: translateX(-300%);
}

.btnArrow span {
    transition: all .4s ease-in-out;
}

.btnArrow:hover span {
    transform: translateX(-15px);
}

button:active,
button:hover,
button:focus {
    box-shadow: none;
    outline: 0;
}

/*==========================||---------------------------||========================*/
/*==========================||           HEADER          ||========================*/
/*==========================||---------------------------||========================*/

.header {
    background: url('../images/headerBg.png') no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.header::before {
    content: url('../images/shape2.png');
    position: absolute;
    bottom: -35px;
    left: -43px;
    z-index: 0;
    transform: rotate(270deg);
}

.header::after {
    content: url('../images/shape4.png');
    position: absolute;
    bottom: 0;
    right: -35px;
    z-index: 0;
}

.headerBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.logo a {
    display: inline-block;
}

.navMenu ul {
    display: flex;
}

.navMenu a {
    color: #585858;
    font-size: 16px;
    line-height: 30px;
    margin-left: 20px;
    font-weight: 500;
}

.navMenu a:hover {
    color: #FFAD1F;
}

.openSearch {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.openSearch:hover {
    transform: translateY(-4px);
    background: #FFAD1F;
    color: #fff;
}

.searchPopup {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: all .3s ease-in-out;
    border-radius: 50%;
}

.searchPopup.show {
    opacity: 1;
    visibility: visible;
    background: #EFEFEF;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    border-radius: 0;
}

.searchPopup .close {
    position: absolute;
    top: 19px;
    right: 40px;
    cursor: pointer;
    font-size: 40px;
}

.searchPopup .close:hover {
    color: #FFAD1F;
    opacity: 1;
}

.searchForm {
    width: 100%;
    max-width: 600px;
}

.searchBox {
    width: 100%;
    max-width: 600px;
    height: 55px;
    background: #fff;
    display: flex;
    padding: 5px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 3px 6px #00000029;
}

.searchBox input {
    width: calc(100% - 70px);
    padding: 0 15px;
    border-radius: inherit;
    border: 0;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 500;
}

.searchBox .greyBtn {
    width: 100px;
}

.searchBox .btnGrey {
    width: 70px;
    border-radius: 25px;
    font-size: 20px;
}

.leftSide {
    display: flex;
    align-items: center;
}

.loginActions {
    display: flex;
    align-items: center;
}

.loginActions a {
    width: 100px;
    height: 40px;
    border-radius: 11px;
    font-size: 11px;
    line-height: 33px;
    font-weight: 500;
    margin-right: 15px;
}

.user {
    background: rgba(255, 173, 31, .06);
    border-radius: 18px;
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.user .userIcon {
    width: 40px;
    height: 40px;
    border: 2px dashed #FFAD1F;
    border-radius: 50%;
    margin-left: 12px;
}

.user .userIcon img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
}

.userText {
    color: #404040;
    font-size: 10px;
    font-weight: 500;
    margin-left: 10px;
}

.dropToggle {
    position: relative;
}

.dropList {
    background: var(--white);
    width: 100%;
    min-width: 170px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    border-radius: 0px 0px 7px 7px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all .3s ease-in-out;
}

.dropList.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.dropList a {
    display: block;
    border-bottom: 1px solid #F3F3F3;
    font-size: 13px;
    line-height: 55px;
    font-weight: 500;
    padding: 0 20px;
    color: #484848;
    transition: all .3s ease-in-out;
}

.dropList a:last-of-type {
    border: 0;
}

.dropList a:hover {
    background: #FFAD1F;
    color: #fff;
}

.dropList a img {
    width: 17px;
    height: 17px;
    margin-left: 10px;
    transition: all .3s ease-in-out;
}

.dropList a:hover img {
    filter: brightness(0) invert(1);
}

.loginMobile {
    display: none;
}

.loginMobileIcon {
    width: 30px;
    height: 30px;
    margin: 0 0 0 15px;
    border-radius: 50%;
}


.mobile {
    display: none;
}

.headerData {
    padding: 50px 0 90px;
    position: relative;
    z-index: 1;
}

.headerData h1 {
    font-size: 49px;
    line-height: 76px;
    font-family: URW DIN Arabic;
    margin-bottom: 30px;
}

.headerData p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 40px;
}

.headerData .btnOrange {
    width: fit-content;
    height: 45px;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 30px;
}


@media screen and (max-width:425px) {
    .headerBox {
        padding: 15px 0;
    }

    .logo {
        max-width: 45px;
    }

    .dropList {
        min-width: 120px;
        top: 100%;
        margin-top: 10px;
        left: calc(-50% - 8px);
        border-radius: 7px;
    }

    .dropList::before {
        content: "";
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 7px solid var(--white);
        position: absolute;
        top: -7px;
        right: calc(50% - 2px);
    }

    .dropList a {
        font-size: 10px;
        line-height: 35px;
        padding: 0 12px;
    }

    .loginMobile {
        display: block;
    }

    .loginActions {
        display: none;
    }

    .user {
        padding: 0;
        height: 35px;
        width: 35px;
        margin-left: 10px;
    }

    .user .userIcon {
        margin: 0;
        width: 35px;
        height: 35px;
        border: 0;
    }

    .userText {
        display: none;
    }

    .user i {
        display: none;
    }

    .dropList a img {
        margin-left: 2px;
    }

    .user .dropList {
        left: calc(-50% - 24px);
    }

    .headerData .row {
        flex-direction: column-reverse;
    }

    .headerVector img {
        max-height: 120px;
        display: block;
        margin: 0 auto 10px;
    }
}

@media screen and (max-width:768px) {
    .openSearch {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        padding: 0;
        font-size: 15px;
    }

    .searchBox {
        height: 45px;
    }

    .searchBox input {
        font-size: 12px;
        width: calc(100% - 35px);
        padding: 0 10px;
    }

    .searchBox .btnGrey {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    .searchPopup .close {
        right: 10px;
        font-size: 25px;
    }

    .header {
        background-size: contain;
    }

    .headerData {
        padding: 10px 0;
    }

    .headerData h1 {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 3px;
    }

    .headerData p {
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .headerData .btnOrange {
        height: 35px;
        font-size: 12px;
        padding: 0 13px;
        margin-bottom: 20px;
    }
}

@media (min-width:575px) and (max-width:1024px) {
    .headerBox {
        padding: 20px 0;
    }

    .logo {
        max-width: 55px;
    }

    .loginActions a {
        width: 90px;
        height: 35px;
        border-radius: 7px;
        font-size: 10px;
        margin: 0 0 0 15px;
    }

    .user {
        border-radius: 10px;
        height: 45px;
        padding: 0 12px;
        margin-left: 20px;
    }

    .user .userIcon {
        width: 35px;
        height: 35px;
        border-width: 1px;
    }

    .headerData {
        padding: 30px 0;
    }
}

@media screen and (max-width:1024px) {
    .navMenu {
        position: fixed;
        top: 0;
        right: 0;
        width: 240px;
        height: 100vh;
        background: #fcfcfc;
        z-index: 999;
        padding: 30px 0;
        transition: all .5s ease-in-out;
        transform: translateX(100%);
    }

    .navMenu.show {
        transform: translateX(0);
    }

    .navMenu ul {
        flex-direction: column;
    }

    .navMenu a {
        display: block;
        margin: 8px 0;
        padding: 0 20px;
        font-size: 13px;
    }

    .navMenu a::after {
        width: 4px;
        height: 100%;
        top: 0;
    }

    .mobile {
        display: block;
    }

    .navOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .85);
        z-index: 998;
        opacity: 0;
        visibility: hidden;
    }

    .navOverlay.show {
        opacity: 1 !important;
        visibility: visible !important;
    }

    .menuBtn {
        width: 20px;
        height: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 10px 0 0;
        cursor: pointer;
    }

    .menuBtn span {
        width: 100%;
        background: #585858;
        height: 2px;
        display: block;
        border-radius: 5px;
        transition: all .4s ease-in-out;
    }

    .menuBtn span:nth-child(2) {
        width: 75%;
    }

    .menuBtn:hover span {
        width: 100%;
        background: #E8479F;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .headerData h1 {
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 15px;
    }
}

@media (min-width:1200px) {
    .user {
        min-width: 227px;
    }

    .dropList {
        left: 15px;
        right: 15px;
        width: calc(100% - 30px);
    }
}

/*==========================||---------------------------||========================*/
/*==========================||         Container         ||========================*/
/*==========================||---------------------------||========================*/

@media (min-width: 1300px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||        COURSES CATS       ||========================*/
/*==========================||---------------------------||========================*/

.coursesCats {
    position: relative;
    overflow: hidden;
}

.coursesCats::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    background: #fff;
    z-index: 0;
}

.secHeader {
    text-align: center;
    margin-bottom: 50px;
}

.secHeader h2 {
    font-size: 40px;
    line-height: 70px;
    font-weight: 500;
}

.secHeader p {
    font-size: 16px;
    line-height: 28px;
    color: #929292;
}

.secHeaderWhite {
    color: #fff;
}

.secHeaderWhite p {
    color: inherit;
}

.courseCat {
    background: #fff;
    box-shadow: 0px 0px 23px #ACACAC29;
    padding: 20px;
    text-align: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.courseCat .icon {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin: 0 auto 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.courseCat .icon::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: -5px;
    border: 1px solid transparent;
    border-radius: inherit;
    transition: all .3s ease-in-out;
}

.courseCat h3 {
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    color: #1C1C1C;
}

.courseCat h5 {
    font-size: 14px;
    line-height: 30px;
    color: #6B6B6B;
    margin: 0;
}

.courseCat1 .icon {
    background: #FF8B6F;
}

.courseCat1 .icon::after {
    border-color: #FF8B6F;
}

.courseCat2 .icon {
    background: #54C9A4;
}

.courseCat2 .icon::after {
    border-color: #54C9A4;
}

.courseCat3 .icon {
    background: #E8479F;
}

.courseCat3 .icon::after {
    border-color: #E8479F;
}

.courseCat4 .icon {
    background: #FFAD1F;
}

.courseCat4 .icon::after {
    border-color: #FFAD1F;
}

.courseCat:hover {
    transform: translateY(-10px);
}

.courseCat:hover .icon::after {
    left: 0;
}

@media screen and (max-width:768px) {
    .secPadding {
        padding: 30px 0;
    }

    .secHeader {
        margin-bottom: 20px;
    }

    .secHeader h2 {
        font-size: 18px;
        line-height: 30px;
    }

    .secHeader p {
        font-size: 13px;
        line-height: 24px;
    }

    .courseCat {
        margin-bottom: 15px;
        padding: 15px 10px;
    }

    .courseCat .icon {
        width: 50px;
        height: 50px;
        margin: 0 auto 10px;
    }

    .courseCat h3 {
        font-size: 14px;
    }
}

@media (min-width:575px) and (max-width:1024px) {
    .col-12 {
        padding: 0 5px;
    }
}

@media (min-width:769px) and (max-width:992px) {
    .secHeader h2 {
        font-size: 27px;
        line-height: 30px;
        font-weight: 500;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||       RECENT COURSES      ||========================*/
/*==========================||---------------------------||========================*/

.course {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #0000000F;
    border-radius: 13px 13px 5px 5px;
    overflow: hidden;
    padding: 7px;
}

.coursePic {
    width: 100%;
    border-radius: 13px 13px 5px 5px;
    overflow: hidden;
    height: 250px;
}

.coursePic img {
    width: 100%;
}

.recentCourses .owl-item {
    padding: 10px;
}

.courseBody {
    padding: 15px 10px 5px;
}

.courseTrainer {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
}

.courseTrainerAvatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 10px;
}

.courseTrainer label {
    margin: 0 0 0 10px;
    color: #565656;
}

.courseTrainer a {
    color: #FFAD1F;
}

.courseTrainer a:hover {
    color: #E8479F;
}

.course h2 {
    color: #565656;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 12px;
}

.course p {
    color: #929292;
    font-size: 12px;
    line-height: 20px;
}

.courseCounts {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.courseCount {
    display: flex;
    align-items: center;
    height: 17px;
    position: relative;
}

.courseCount::after {
    content: '';
    background: #DDDDDD;
    display: inline-block;
    width: 1px;
    height: 17px;
    margin: 0 10px;
}

.courseCount:last-of-type::after {
    display: none;
}

.courseCount img {
    margin-left: 7px;
}

.courseCount h5 {
    color: #929292;
    font-size: 12px;
    margin: 0;
}

.courseFooter {
    border-top: 1px solid #EFEFEF;
    padding: 12px 0 0 0;
}

.course .btnGrey {
    max-width: 257px;
    height: 40px;
    border-radius: 8px;
    margin: auto;
    font-size: 12px;
    font-weight: 500;
}

.course .btnGrey img {
    margin-right: 10px;
    transition: all .3s ease-in-out;
}

.course .btnGrey:hover img {
    filter: brightness(0) invert(1);
}

.owlNav .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

.owlNav .owl-nav>div {
    margin: 0 15px;
    color: #BFBFBF;
    position: relative;
}

.owlNav .owl-nav>div:hover {
    color: #E8479F;
}

.owlNav .owl-nav>div::before {
    content: '';
    position: absolute;
    width: 30px;
    background: #E8479F;
    height: 3px;
    top: calc(50% - 2px);
    opacity: 0;
    visibility: hidden;
}

.owlNav .owl-prev::before {
    left: -15px;
}

.owlNav .owl-next::before {
    right: -15px;
}

.owlNav .owl-nav>div:hover::before {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width:768px) {
    .coursePic {
        height: 200px;
    }

    .courseBody {
        padding: 10px 5px 5px;
    }

    .course h2 {
        font-size: 13px;
        margin-bottom: 0px;
    }

    .courseTrainer {
        margin-bottom: 3px;
        font-size: 12px;
    }

    .course p {
        font-size: 11px;
    }

    .courseCounts {
        padding: 10px 0;
    }

    .courseCount h5 {
        font-size: 10px;
    }

    .courseCount::after {
        height: 12px;
        margin: 0 7px;
    }

    .course .btnGrey {
        font-size: 10px;
    }

    .owlNav .owl-nav {
        font-size: 25px;
    }

    .owlNav .owl-nav>div::before {
        height: 2px;
        top: calc(50% - 1px);
        width: 22px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            WHY US         ||========================*/
/*==========================||---------------------------||========================*/

.whyUs {
    background: url('../images/whyBg.png') no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 40px 0 20px;
}

.whyBox {
    position: relative;
    background: #3C96C7 0% 0% no-repeat padding-box;
    border-radius: 17px;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.whyBox .icon {
    width: 50px;
    height: 50px;
    margin: 10px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whyBox h3 {
    font-size: 22px;
    line-height: 38px;
    font-weight: 500;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}

.whyBox p {
    font-size: 13px;
    line-height: 23px;
    color: inherit;
    transition: all .3s ease-in-out;
}

.whyBox:hover {
    background: #115FAF;
    transform: scale(1.15);
    transform: scale(1.20);
    z-index: 1;
}

@media screen and (max-width:992px) {
    .whyBox {
        padding: 10px;
        margin-bottom: 15px;
    }

    .whyBox .icon {
        width: 40px;
        height: 40px;
        margin: 10px auto;
    }

    .whyBox .icon img {
        max-height: 100%;
    }

    .whyBox h3 {
        font-size: 13px;
        line-height: 25px;
        margin: 0;
    }

    .whyBox p {
        font-size: 12px;
    }
}

@media (min-width:1024px) and (max-width:1199px) {
    .whyBox h3 {
        font-size: 17px;
        line-height: 30px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||           TRAINERS        ||========================*/
/*==========================||---------------------------||========================*/

.trainer {
    position: relative;
    border-radius: 17px;
    margin-bottom: 30px;
}

.trainer .trainerAvatar {
    border-radius: inherit;
}

.trainer img {
    width: 100%;
    border-radius: inherit;
}

.trainer .trainerHover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: inherit;
    transition: all .5s ease-in-out;
}

.trainer .trainerData {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 11px #B8B8B829;
    border-radius: 8px;
    padding: 20px 15px;
    text-align: center;
    width: 100%;
    transition: all .5s ease-in-out;
    margin-bottom: -20px;
}

.trainer a {
    color: #565656;
    font-size: 18px;
    line-height: 38px;
    font-weight: 500;
}

.trainer a:hover {
    color: #FFAD1F;
}

.trainer p {
    font-size: 13px;
    line-height: 23px;
}

.trainer:hover .trainerHover {
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

.trainer:hover .trainerData {
    margin-bottom: 20px;
}

@media screen and (max-width:992px) {
    .trainer {
        margin-bottom: 40px;
    }

    .trainer .trainerAvatar {
        height: 250px;
    }

    .trainer .trainerAvatar img {
        max-height: 100%;
    }

    .trainer .trainerData {
        padding: 10px 10px 20px;
    }

    .trainer a {
        font-size: 14px;
    }

    .trainer p {
        font-size: 12px;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||        RECENT BLOGS       ||========================*/
/*==========================||---------------------------||========================*/

.blog {
    margin-bottom: 30px;
}

.blog .blogHead {
    position: relative;
    height: 276px;
    overflow: hidden;
}

.blog .blogHead img {
    width: 100%;
    height: 100%;
}

.blog .blogDate {
    width: 62px;
    height: 62px;
    background: rgba(0, 0, 0, .79);
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
    text-align: center;
    font-size: 13px;
    line-height: 19px;
}

.blog .blogDate::before {
    content: '';
    border: 1px solid #34A949;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: inherit;
    opacity: 0.79;
}

.blog .blogHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .79);
    transition: all .3s ease-in-out;
}

.blog .blogLink {
    width: 50px;
    height: 50px;
    background: #FFAD1F 0% 0% no-repeat padding-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 23px;
    transform: translateY(400%);
    transition: all .3s ease-in-out;
}

.blog .blogLink:hover {
    background: #E8479F;
    color: #fff;
}

.blog:hover .blogHover {
    opacity: 1;
    visibility: visible;
}

.blog:hover .blogLink {
    transform: translateY(0);
}

.blogCounts {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.blogCount {
    display: flex;
    align-items: center;
    height: 17px;
    position: relative;
}

.blogCount::after {
    content: '';
    background: #DDDDDD;
    display: inline-block;
    width: 1px;
    height: 17px;
    margin: 0 10px;
}

.blogCount:last-of-type::after {
    display: none;
}

.blogCount img {
    margin-left: 7px;
}

.blogCount span {
    color: #929292;
    font-size: 13px;
    margin: 0;
}

.blog h3 {
    color: #565656;
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    margin-bottom: 12px;
}

.blog p {
    color: #929292;
    font-size: 13px;
    line-height: 23px;
}

.blog p a {
    color: #FFAD1F;
    margin-right: 5px;
}

.blog p a:hover {
    color: #E8479F;
}

@media screen and (max-width:768px) {
    .blog {
        margin-bottom: 20px;
    }

    .blog .blogHead {
        height: 200px;
    }

    .blog .blogDate {
        width: 45px;
        height: 45px;
        font-size: 10px;
        line-height: 13px;
        top: 12px;
        right: 12px;
    }

    .blog .blogDate::before {
        top: 3px;
        right: 3px;
        width: 39px;
        height: 39px;
    }

    .blogCounts {
        padding: 10px 0 3px;
    }

    .blogCount span {
        font-size: 11px;
    }

    .blogCount img {
        max-width: 11px;
    }

    .blogCount::after {
        height: 10px;
        margin: 0 6px;
    }

    .blog h3 {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 5px;
    }

    .blog p {
        font-size: 12px;
        line-height: 20px;
    }

    .blog .blogLink {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}

@media (min-width:992px) and (max-width:1024px) {
    .blogCounts {
        padding: 10px 0;
    }

    .blog h3 {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 0;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            CONTACT        ||========================*/
/*==========================||---------------------------||========================*/

.contact {
    background: url('../images/contactBg.png') no-repeat;
    background-size: cover;
}

.contactBox {
    max-width: 750px;
    margin: auto;
}

.field {
    margin-bottom: 30px;
}

.form-control {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 12px;
    border: 0;
    height: 50px;
    color: #585858;
    font-size: 14px;
}

.form-control::placeholder {
    color: #ABABAB;
    font-size: 14px;
}

.form-control:focus {
    color: #585858;
    border-color: #ffc107;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #ffc1075e;
}

textarea.form-control {
    height: 155px;
    resize: none;
    padding: 15px;
}

.contactBox .btnOrange {
    height: 50px;
    width: 156px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
}

@media screen and (max-width:768px) {
    .field {
        margin-bottom: 15px;
    }

    .form-control {
        height: 40px;
        font-size: 13px;
    }

    .form-control::placeholder {
        font-size: 12px;
    }

    textarea.form-control {
        height: 140px;
        padding: 10px;
    }

    .contactBox .btnOrange {
        height: 40px;
        width: 110px;
        font-size: 12px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||         NEWSLETTER        ||========================*/
/*==========================||---------------------------||========================*/

.newsletterBox {
    padding: 20px 0 40px;
    text-align: center;
}

.newsletterBox h1 {
    color: #565656;
    font-size: 35px;
    line-height: 61px;
    font-weight: 500;
}

.newsletterBox h3 {
    color: #929292;
    font-size: 15px;
    line-height: 28px;
}

.newsletterForm {
    margin: 30px auto 0;
    height: 55px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 5px;
    max-width: 630px;
    overflow: hidden;
    display: flex;
}

.newsletterForm input {
    width: calc(100% - 125px);
    border: 0;
    background: transparent;
    padding: 0 15px;
    font-size: 14px;
}

.newsletterForm .btnOrange {
    width: 125px;
    height: 100%;
    border-radius: 9px;
}

.newsletterForm input::placeholder {
    color: #C8C8C8;
}

@media screen and (max-width:768px) {
    .newsletterBox {
        padding: 0;
    }

    .newsletterBox h1 {
        font-size: 14px;
        line-height: 35px;
    }

    .newsletterBox h3 {
        font-size: 12px;
    }

    .newsletterForm {
        height: 40px;
        max-width: 450px;
    }

    .newsletterForm .btnOrange {
        width: 60px;
        font-size: 12px;
    }

    .newsletterForm input {
        width: calc(100% - 60px);
        font-size: 12px;
        padding: 0 10px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            FOOTER         ||========================*/
/*==========================||---------------------------||========================*/

.footer {
    background: #353535 0% 0% no-repeat padding-box;
    padding: 40px 0 0 0;
    color: var(--white);
}

.footer .logo {
    margin: 0 0 20px 0;
}

.footer p {
    font-size: 14px;
    line-height: 28px;
    color: inherit;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footerBlocks {
    display: flex;
}

.footerBlock {
    width: 50%;
}

.footer h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
}

.footer a {
    color: inherit;
    display: block;
}

.footerBlock a {
    font-size: 14px;
    line-height: 45px;
}

.footer p img {
    margin-left: 10px;
}

.social {
    display: flex;
    align-items: center;
}

.social a {
    width: 30px;
    height: 30px;
    opacity: 1;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.social a:last-of-type {
    margin: 0;
}

.google {
    background: #DD4B39;
}

.twitter {
    background: #50ABF1;
}

.facebook {
    background: #4267B2;
}

.youtube {
    background: #DD4B39;
}

.social a:hover {
    transform: translateY(-5px);
}

.copyright {
    border-top: 1px solid #5f5f5f;
    margin: 20px 0 0 0;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.copyright p {
    margin: 0;
}

.copyright a {
    color: #E8479F;
    margin-right: 5px;
}

.copyright a:hover {
    color: #FFAD1F;
}

@media screen and (max-width:768px) {
    .footer {
        padding: 20px 0 0 0;
    }

    .footer .logo {
        margin: 0 0 10px 0;
    }

    .footer p {
        font-size: 11px;
        line-height: 23px;
        margin-bottom: 5px;
    }

    .footerBlock {
        margin: 10px 0;
    }

    .footer h3 {
        font-size: 12px;
        margin-bottom: 0;
    }

    .footerBlock a {
        font-size: 11px;
        line-height: 30px;
    }

    .social {
        margin: 10px 0 0 0;
    }

    .social a {
        width: 25px;
        height: 25px;
    }

    .copyright {
        padding: 8px 0;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||        SignUp - Login     ||========================*/
/*==========================||---------------------------||========================*/
.internalHeader {
    background: transparent linear-gradient(279deg, #F8F8F800 0%, #F8F8F857 41%, #F8F8F8 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 0px 152px;
}

.internalHeader::before,
.internalHeader::after {
    display: none;
}

.pageInfo {
    text-align: center;
}

.pageInfo h1 {
    color: #6B6B6B;
    font-size: 32px;
    line-height: 50px;
    font-weight: 500;
}

.bradCrumbBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0 40px;
}

.breadcrumb {
    background: transparent;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.bradCrumbBox,
.bradCrumbBox a {
    color: #6B6B6B;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
}

.breadcrumb-item.active {
    color: #FFAD1F;
}

.bradCrumbBox a:hover {
    color: #FFAD1F;
}

.usersTypes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userType {
    width: calc(50% - 10px);
    max-width: 320px;
    height: 264px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.userType:first-of-type {
    margin-left: 20px;
}

.userType img {
    max-width: 90px;
    margin-bottom: 25px;
}

.userType h3 {
    color: #6B6B6B;
    font-size: 20px;
    line-height: 44px;
}

.userType:hover {
    background: rgba(255, 173, 31, .06);
    transition: all .3s ease-in-out;
}

.userType:hover h3 {
    color: #FFAD1F;
    transition: all .3s ease-in-out;
}

.loginBox {
    border: 1px solid #EEEEEE;
    margin: 15px 0;
}

.loginBox .row {
    margin: 0;
}

.loginBox .col-12 {
    padding: 0;
}

.loginFormBox {
    padding: 40px 7%;
}

.loginFormHead {
    text-align: center;
    margin-bottom: 20px;
}

.loginFormHead h3 {
    color: #565656;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.loginFormHead p {
    color: #929292;
    font-size: 12px;
    line-height: 20px;
    max-width: 360px;
    margin: auto;
}

.fieldIcon {
    position: relative;
}

.fieldIcon .form-control {
    padding-left: 40px;
}

.fieldIcon span {
    width: 40px;
    height: 50px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #BFBFBF;
    cursor: pointer;
}

.fieldIcon span:hover {
    color: #FFAD1F;
}

.loginBox .field label {
    color: #6B6B6B;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}

.loginBox .form-control {
    background: #FBFBFB;
    font-size: 14px;
}

.loginBox .from-control::placeholder {
    color: #BFBFBF;
}

.loginBox .btnOrange {
    height: 55px;
    width: 100%;
    border-radius: 12px;
}

.formFooter {
    padding: 15px 0 0 0;
    text-align: center;
}

.formFooter a,
.formFooter p {
    color: #8A8A8A;
    font-size: 14px;
    line-height: 35px;
    font-weight: 500;
}

.formFooter p a,
.formFooter a:hover {
    color: #FFAD1F;
}

.formFooter p a:hover {
    color: #E8479F;
}

.loginVector {
    height: 100%;
}

.loginVector img {
    width: 100%;
    height: 100%;
}

.required label {
    position: relative;
}

.required label::after {
    content: '*';
    color: #FF0000;
}

.flexInput {
    display: flex;
    justify-content: space-between;
}

.flexInput .inputSmall {
    width: 85px;
    text-align: center;
    margin-right: 10px;
}

.signUpMobileVector {
    display: none;
}

.customSelect {
    position: relative;
}

.customSelect select.form-control:not([size]):not([multiple]) {
    height: 50px;
    appearance: inherit;
}

.customSelect::after {
    content: "";
    border: solid #BFBFBF;
    border-width: 0 1px 1px 0;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    top: 19px;
    left: 15px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

option:disabled {
    color: #BFBFBF;
}

.signUpPolicy {
    padding: 35px 20px 30px;
}

.signUpPolicy h4 {
    color: #1C1C1C;
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    position: relative;
}

.signUpPolicy h4::before {
    content: "";
    background: #FFAD1F;
    width: 5px;
    height: 21px;
    display: inline-block;
    position: absolute;
    right: -18px;
    top: 6px;
    border-radius: 5px;
}

.signUpPolicy p {
    font-size: 16px;
    line-height: 30px;
    color: #929292;
}

.customCheckBox {
    font-size: 16px;
    position: relative;
    margin-bottom: 20px;
}

.customCheckBox input {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.customCheckBox label {
    font-size: 13px;
    line-height: 28px;
    color: #8A8A8A;
    margin: 0;
    padding-right: 20px;
    position: relative;
}

.customCheckBox a {
    color: #FFAD1F;
}

.customCheckBox label::before {
    content: '';
    border: 1px solid #e9ecef;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    right: 0;
}

.customCheckBox input:checked + label::before,
.customCheckBox:hover input + label::before {
    border-color: #FFAD1F;
}

.customCheckBox label::after {
    content: '';
    position: absolute;
    right: 6px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
}

.customCheckBox input:checked + label::after {
    border-color: #FFAD1F;
}

@media screen and (max-width:575px) {
    .loginBox .row {
        flex-direction: column-reverse;
    }

    .signUpPcVector {
        display: none;
    }

    .signUpMobileVector {
        display: block;
    }

    .signUpPolicy .loginBox .row {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:768px) {
    .internalHeader {
        border-radius: 0 0 0 25px;
    }

    .pageInfo {
        padding: 30px 0 0 0;
    }

    .pageInfo h1 {
        font-size: 16px;
        line-height: 35px;
    }

    .bradCrumbBox {
        padding: 0 0 20px 0;
    }

    .bradCrumbBox,
    .bradCrumbBox a {
        font-size: 12px;
    }

    .userType {
        width: calc(50% - 5px);
        border-radius: 10px;
        padding: 10px;
        height: 130px;
    }

    .userType:first-of-type {
        margin-left: 10px;
    }

    .userType img {
        max-width: 60px;
        margin-bottom: 10px;
    }

    .userType h3 {
        font-size: 13px;
        margin: 0;
        line-height: 30px;
    }

    .loginBox {
        margin: 0;
    }

    .loginFormBox {
        padding: 15px;
    }

    .loginFormHead h3 {
        font-size: 15px;
    }

    .loginFormHead p {
        font-size: 11px;
    }

    .loginBox .field label {
        font-size: 12px;
    }

    .loginBox .form-control {
        height: 50px;
    }

    .loginBox .btnOrange {
        height: 50px;
        margin-top: 20px;
    }

    .formFooter a,
    .formFooter p {
        font-size: 12px;
    }

    .signUpPolicy {
        padding: 15px 10px;
    }

    .signUpPolicy h4 {
        font-size: 13px;
        line-height: 25px;
    }

    .signUpPolicy h4::before {
        top: 2px;
        right: -13px;
    }

    .signUpPolicy p {
        font-size: 12px;
        line-height: 22px;
    }
}

@media (min-width:992px) {
    .signUpPage .secHeader h2 {
        font-size: 27px;
        line-height: 50px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||          Home Ads         ||========================*/
/*==========================||---------------------------||========================*/

@media screen and (max-width:768px) {}


/*==========================||---------------------------||========================*/
/*==========================||          Home Ads         ||========================*/
/*==========================||---------------------------||========================*/

@media screen and (max-width:768px) {}

/*==========================||---------------------------||========================*/
/*==========================||          Home Ads         ||========================*/
/*==========================||---------------------------||========================*/

@media screen and (max-width:768px) {}

/*==========================||---------------------------||========================*/
/*==========================||          Home Ads         ||========================*/
/*==========================||---------------------------||========================*/

@media screen and (max-width:768px) {}

/*==========================||---------------------------||========================*/
/*==========================||          Home Ads         ||========================*/
/*==========================||---------------------------||========================*/

@media screen and (max-width:768px) {}

/*==========================||---------------------------||========================*/
/*==========================||         Pagination        ||========================*/
/*==========================||---------------------------||========================*/

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
}

.pagination a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FCFCFC;
    color: #8A8A8A;
    font-weight: 600;
    margin: 8px;
    font-size: 15px;
    transition: all .4s ease-in-out;
}

.pagination a:hover {
    background: #fff;
    box-shadow: 0px 20px 15px #E0ECF6;
}

.pagination a:first-of-type,
.pagination a:last-of-type {
    color: #FFAD1F;
}

.pagination a:first-of-type:hover,
.pagination a:last-of-type:hover {
    background: #FFAD1F;
    color: #fff;
    box-shadow: none;
}

@media screen and (max-width:575px) {
    .pagination a {
        margin: 3px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||        Text Wrapper       ||========================*/
/*==========================||---------------------------||========================*/